* {
    padding: 0;
    margin: 0;
}

body {
    background: -webkit-linear-gradient(left, #1fa2ff, #12d8fa, #a6ffcb);
}

.slider-bar {
    position: fixed;
    left: 85%;
    top: 75%;
    width: 37px;
    height: 190px;
}

.slider-bar img {
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
}

#goBack {
    display: none;
}

.header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.header-center {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 200px;
    height: 80px;
    margin-top: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header-center ul {
    float: left;
    list-style: none;
    margin-left: 20px;
}

.header-center ul li {
    float: left;
    padding: 0 20px;
    height: 60px;
    margin-top: 25px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
    transition: all 1s;
}

.header ul li:hover {
    cursor: pointer;
    font-size: 25px;
    color: tomato;
    border-bottom: 2px solid white;
}

.search-block {
    float: right;
    width: 360px;
    height: 50px;
    margin-top: 25px;
}

.search-block:hover #search {
    width: 210px;
}

#search {
    float: left;
    width: 180px;
    height: 50px;
    text-indent: 2em;
    border-radius: 30px;
    outline: none;
    border: 0;
    transition: all .5s;
}

.search-block button {
    outline: none;
    float: left;
    color: white;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background: url(../images/searhbg.jpg);
}

.banner {
    width: 1200px;
    margin: 20px auto;
}

.offer {
    float: left;
    width: 230px;
    height: 300px;
    margin-top: 20px;
}

.offer .nowtime {
    color: white;
    text-align: center;
    line-height: 1.6em;
    font-size: 20px;
    margin-bottom: 20px;
}

.offer img {
    transition: all linear 2s;
    width: 100%;
    height: 100%;
}

.offer:hover img {
    cursor: pointer;
    transform: rotateY(360deg);
}

.focus {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.focus ul {
    width: 800%;
    position: absolute;
    top: 0;
    left: 0;
}

.focus ul li {
    float: left;
    list-style: none;
}

.focus ul li img {
    width: 800px;
    height: 450px;
    border-radius: 15px;
}

.prev,
.next {
    position: absolute;
    display: none;
    top: 50%;
    z-index: 999;
}

.prev {
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: left;
}

.next {
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: right;
}

.circle {
    position: absolute;
    bottom: 20px;
    left: 40px;
    list-style: none;
}

.circle li {
    float: left;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.current {
    background-color: white;
}

.talk {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 22px;
    line-height: 1.8em;
    background: url(../images/talkbg.jpg);
}

.talk p {
    background-image: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.talk p:hover {
    cursor: pointer;
    font-size: 26px;
    transition: all linear .8s;
}

.history {
    margin: 0 auto;
    width: 1000px;
    margin: 0 auto;
}

.history h4 {
    text-align: center;
    line-height: 2em;
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.history p4 {
    text-indent: 2em;
}

.history p {
    font-size: 18px;
    text-indent: 2em;
    line-height: 1.8em;
    color: white;
}

.bg {
    width: 980px;
    height: 180px;
    margin: 50px auto;
}